# Binaries
bin/*
!/bin/soft-proxy-amd64
!/bin/soft-proxy-arm64
/soft-proxy

# Databases and Local State
*.db
*.db-journal
*.db-shm
*.db-wal

# Certificates
certs/

# Logs and Temp files
*.log
test-adu.json

# IDEs
.idea/
.vscode/
.DS_Store

# Test scripts
test_protocols.sh
test_protocols_extended.sh
